.App {
  font-family: 'Paytone One', sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hover\:filter-glow:hover {
  filter: drop-shadow(0 0 5px #1f2937);
  transition: filter 0.3s ease-in-out;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-moveGradient {
  /* Define the background gradient with starting, middle, and ending colors */
  background-image: linear-gradient(45deg, #061121, #fef08a 5%, #061121);
  /* Set the animation properties */
  animation: moveGradient 7s linear infinite;
  /* Specify the background size to control the thickness of the colors */
  background-size: 400% 100%;
}



