:root {
  --gradient-start-color: #061121;
  --gradient-middle-color: #fef08a;
  --gradient-end-color: #061121;
}

body {
  background: linear-gradient(45deg, var(--gradient-start-color), var(--gradient-middle-color) 5%, var(--gradient-end-color));
  background-size: 700% 350%; /* set the background size */
}

nav {
  background: linear-gradient(45deg, var(--gradient-start-color), var(--gradient-middle-color) 5%, var(--gradient-end-color));
  animation: moveGradient 22s linear infinite;
  background-size: 700% 350%; /* set the background size */
}

.App {
  font-family: 'Paytone One', sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hover\:filter-glow:hover {
  filter: drop-shadow(0 0 5px #1f2937);
  transition: filter 0.3s ease-in-out;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  animation-duration: 10s;
}

.animate-moveGradient {
  /* Define the background gradient with starting, middle, and ending colors */
  background-image: linear-gradient(45deg, #061121, #fef08a 5%, #061121);
  /* Set the animation properties */
  animation: moveGradient 7s linear infinite;
  /* Specify the background size to control the thickness of the colors */
  background-size: 700% 350%;
}
